@model IdentityViewModel
@{
}

@if (Model.Roles != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    RoleName
                </th>
            </tr>
        </thead>

        @foreach (var role in @Model.Roles)
        {
            <tr>
                <td>
                    @role.Name
                </td>
            </tr>
        }
    </table>    
    <br />
    <table class="table table-sm table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Users</th>
        </tr>
        @foreach (var role2 in Model.Roles)
        {
            <tr>
                <td>@role2.Id</td>
                <td>@role2.Name</td>
                <td role="@role2.Id"></td>
            </tr>
        }
    </table>


}




@if (Model.Users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>username</th>
                <th>email</th>
            </tr>
        </thead>
        @foreach (var user in @Model.Users)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Email
                </td>
            </tr>
        }
    </table>
}
