@model IEnumerable<MVCTagHelper.Models.Land>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LandCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandNaam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LandCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandNaam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
