@model MVCTagHelper.Models.Medewerker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medewerker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.afdeling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.afdeling.AfdelingId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedeWerkerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
